<h2>Sign up</h2>

<%= form_tag(member_registration_path,:method => 'post') %>
<%#= devise_error_messages! %>
  <table>
    <tr>
      <td>Username : </td>

      <td><%=text_field_tag "member[username]",@member.username %></td>
    </tr>

    <tr>
      <td>Mobile : </td>

      <td><%=text_field_tag "[mobile]",@mobile %></td>
    </tr>

    <tr>
      <td><%= submit_tag nil, "Sign Up" %> </td>
    </tr>
  </table>


  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
